@import url("https://fonts.googleapis.com/css?family=Lato|Poller+One&display=swap");

img {
  align-self: center;
}




@font-face {
  font-family: "SF Distant Galaxy";
  src: url("SFDistantGalaxy.ttf") format("truetype");
}


/* phone */
body {
  background-color: #714f85;

}

.YODA1{display: flex;
flex-direction: column;
}
.YODA2{display: flex;
flex-direction: column;}

.YODA3{display: flex;
flex-direction: column;}


a {
  color: whitesmoke;
}



h1 {
  font-family: "SF Distant Galaxy";
}

h1{color: rgb(181, 255, 10);}
h1{display: flex;
justify-content: center;}

nav{display: flex;
flex-direction: column;
align-items:center;}

a:hover{color:rgb(181, 255, 10) ;}

/* computer */
@media screen and (min-width: 600px) {


.YODA1,.YODA2,.YODA3{justify-content: center; flex-direction: row;
}
}


nav{display: flex;
  flex-direction: row;
  justify-content: space-between;}

